@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
:root {
     --swiper-theme-color: #25723e;
}
body {
     font-family: 'Poppins', sans-serif;
}
#social-links li {
     display: inline-block;
     padding: 4px;
     text-align: center;
     list-style: none;
}
.swiper-slide::after {
     background: linear-gradient(
          180deg,
          rgba(37, 114, 62, 0.7) -29.32%,
          #25723e 100%
     );
     box-shadow: -4px -56px 50px 0px #25723e;
}
@media (max-width: 1023px) {
     nav {
          menu {
               @apply absolute top-14 -left-5 -right-5 h-screen transform transition-all duration-500 px-5 bg-utama-100 lg:translate-x-0 translate-x-[40rem] sm:translate-x-[50rem] md:translate-x-[65rem];
          }
     }
}
